.pic{
    background-image: url("https://images.pexels.com/photos/373945/pexels-photo-373945.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: 10;
 }
 .pic-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 5;
 }
.Signup-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
} 
input[type=username],input[type=password],input[type=email]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.login-name{
    font-size: 28px;
}
.wrap{
	width:450px;
	margin:auto;
	background:rgb(45, 45, 46)  ;
	margin-top:50px;
	padding:5px;
}
form{
	padding:10px;
	font-family:arial;
	border:1px dotted black;
	
}
#font{
    color: white;
}
#btn{
    background-color: #138D75;
}
