 .login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
} 
input[type=username],input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.wrap{
	width:450px;
	margin:auto;
	background:#17202A  ;
	margin-top:50px;
	padding:5px;
}
form{
	padding:10px;
	font-family:arial;
	border:1px dotted black;
	
}
#font{
    color: white;
}
#btn{
    background-color: #138D75;
}
#signcss{
    line-height: 40px;
}